# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Make use of simple arithmetic through addition, multiplication and addition

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. SciPy

| Data science tools |
|-------------|
|   Jupyter Notebook    |
| Tableau       |
| Excel       |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author 
Dercksen Stols